body {
  margin: 0;
  overflow: hidden;

  p {
    position: absolute;
    text-transform: uppercase;
    font-family: sans-serif;
    color: #fcfcfc;
    text-align: center;
    user-select: none;
    cursor: default;
    width: 100vw;
    &::after {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      // background-color: #fcfcfc;
      border: 1px solid #fcf;
      position: absolute;
      right: 0;
      left: 0;
      opacity: 1;
      margin: auto;
      top: 25px;
      animation: clickAnim 0.8s linear infinite alternate-reverse;
    }
    &::before {
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      // background-color: #fcfcfc;
      border: 1px solid #fcf;
      position: absolute;
      right: 0;
      left: 0;
      opacity: 1;
      margin: auto;
      top: 30px;
      animation: clickAnim2 0.8s linear infinite reverse;
    }
  }
}

@keyframes clickAnim {
  0% {
    opacity: 0;

  }
  100% {
    opacity: 0.8;
  }
}
@keyframes clickAnim2 {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
