body {
  margin: 0;
  overflow: hidden; }
  body .hint {
    position: absolute;
    text-transform: uppercase;
    font-family: sans-serif;
    color: #fcfcfc;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    width: 100%; }
    body .hint .remove {
      width: 215px;
      margin: auto;
      position: relative; }
      body .hint .remove span {
        position: absolute;
        opacity: 1;
        margin: auto;
        top: -5px;
        width: 25px;
        right: -20px;
        border-radius: 50%;
        height: 25px;
        -webkit-animation: clickAnim 0.8s linear infinite alternate-reverse;
        animation: clickAnim 0.8s linear infinite alternate-reverse; }
        body .hint .remove span::before {
          content: '';
          display: block;
          position: absolute;
          width: 1px;
          right: 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
          height: 20px;
          margin: auto;
          left: 0;
          top: 0;
          bottom: 0;
          background-color: #fcfcfc; }
        body .hint .remove span::after {
          position: absolute;
          content: '';
          display: block;
          width: 1px;
          right: 0;
          margin: auto;
          left: 0;
          top: 0;
          bottom: 0;
          -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
          height: 20px;
          background-color: #fcfcfc; }
    body .hint .add {
      position: relative;
      width: 215px;
      margin: 15px auto; }
      body .hint .add span {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid #fcf;
        position: absolute;
        right: 0;
        opacity: 1;
        margin: auto;
        top: -2px;
        -webkit-animation: clickAnim 0.8s linear infinite alternate-reverse;
        animation: clickAnim 0.8s linear infinite alternate-reverse; }
        body .hint .add span::before {
          content: '';
          display: block;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          border: 1px solid #fcf;
          position: absolute;
          right: 0;
          left: 0;
          opacity: 1;
          margin: auto;
          top: 4px;
          -webkit-animation: clickAnim2 0.8s linear infinite reverse;
          animation: clickAnim2 0.8s linear infinite reverse; }

@-webkit-keyframes clickAnim {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.9);
    transform: scale(0.9); }
  100% {
    opacity: 0.8;
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes clickAnim {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.9);
    transform: scale(0.9); }
  100% {
    opacity: 0.8;
    -webkit-transform: scale(1);
    transform: scale(1); } }

@-webkit-keyframes clickAnim2 {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0; }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes clickAnim2 {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0; }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); } }
